html
	head
		include htmltemplate/head.html

	body
		include htmltemplate/sidebar.html
		header
			include htmltemplate/header.html

		main
			section.home-content
				.home-image
					.blur
					.fit
						h1 Fit Amsterdam
				article
					h2 Fit Amsterdam
					p  Amsterdam encourages you to stay active because of it's cycling culture. But there are myriad ways in which you can exercise and work out. How about Urban Yoga, or swinging like 	tarzan in the Amsterdamse bos? also provides you with an option to find people who are looking for someone to sport with.

				a(href="#") I want to excersise



		footer
			include htmltemplate/footer.html