html
	head
		include ../htmltemplate/head-pages.html

	body
		include ../htmltemplate/sidebar-pages.html
		header
			include ../htmltemplate/header.html

		main
			section.gyms
				article.card
					img(src="http://via.placeholder.com/200x200")
					.card-content
						h2 Gym
						p Data
						a(href="gyms-info.html") Visit
						a(href="#") Save
				article.card
					img(src="http://via.placeholder.com/200x200")
					.card-content
						h2 Gym
						p Data
						a(href="gyms-info.html") Visit
						a(href="#") Save
				article.card
					img(src="http://via.placeholder.com/200x200")
					.card-content
						h2 Gym
						p Data
						a(href="gyms-info.html") Visit
						a(href="#") Save
				article.card
					img(src="http://via.placeholder.com/200x200")
					.card-content
						h2 Gym
						p Data
						a(href="gyms-info.html") Walk
						a(href="#") Save



		footer
			include ../htmltemplate/footer-pages.html