html
	head
		include ../htmltemplate/head-pages.html

	body
		include ../htmltemplate/sidebar-pages.html
		header
			include ../htmltemplate/header.html

		main
			section.list-content
				.container
					.item Routes
					.item-data
						h3 Title
						p data
					.item Gyms
					.item-data
						h3 Title
						p data
					.item Sports
					.item-data
						h3 Title
						p data



		footer
			include ../htmltemplate/footer-pages.html