.overlay
aside.sidebar
	section.sidebar
		.sidebar-head
			img(src="http://via.placeholder.com/200x200")
			p bas
		.sidebar-content
			ul
				li
					a(href="list.html")
						i.fa.fa-list(aria-hidden="true")
							span List
				li
					a(href="routes.html")
						i.fa.fa-map-marker(aria-hidden="true")
							span Routes
				li
					a(href="gyms.html")
						i.fa.fa-trophy(aria-hidden="true")
							span Gyms
				li
					a(href="sports.html")
						i.fa.fa-soccer-ball-o(aria-hidden="true")
							span Sports
				li
					a(href="profile.html")
						i.fa.fa-user(aria-hidden="true")
							span Profile
				li
					a(href="#")
						i.fa.fa-users(aria-hidden="true")
							span Social
				li
					a(href="log-in.html")
						i.fa.fa-sign-out(aria-hidden="true")
							span Log out